body{
    background-color: #023047;
}

nav{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly   ;
    color: #10002b;
    background-color: #8ECAE6;         
}

.playwrite {
    font-family: "Playwrite VN", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;   
  }

.logo{
    text-decoration: none;  
  }


 ul{ 
    width: 60%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

 ul li {
    display: flex;
    width: 20%;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

 ul li a{
    color: #023047;
    text-decoration: none;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center  ;
    padding: 2% 0 2% 0;    
    width: 100%;
    height: 100%;
}

 ul li a:hover {
    background-color: #023047;
    color: #FFB703;
    transition-duration: 0.5s;
}

header{
    background-image: url(images/header.jpg);
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fb8500;
    font-size: 30px;
    background-attachment: fixed;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.kanit-400 {
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;
  }

  section{
    width: 100%;

  }

.intro {
    display: flex;
    flex-direction: row;
}

.intro img {
    width: 40%;
    margin-top: 1%; 
    margin-left: 3%;
}

  .intro article {
    width: 50%;
    padding-left: 5%;
  }

  .intro h2 {
    color: #FFB703;
  }

  .intro p {
    color: #FB8500;
  }

  .search{
    display: flex;
    background-color: #023047;
    justify-content: center;
    align-items: center;
  }

  .search input{
    padding: 15px;
    width: 60%;
 
  }

  .search h2{
        color: #FB8500;
  }

  .search div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 2% 0 2%;  
    background-image: url(/images/backsearch.jpg);
  }

  .gallery a {
    width: 15%;
    margin-left: 1%;
  }

  .card{
        padding: 1%;
        background-color: #8ECAE6;
        max-width: 300px;         
        text-align: center;
        border-radius: 8px; 
        overflow: hidden;
  }
  
  .card img {        
        width: 100%;
       
        border-radius: 5px;
  }

  .card h3{
        color: #023047;
  }

  .titel h2 {
    color: #FB8500;

  }

  footer{
    background-color: #219EBC;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
  }

  footer ul {
    justify-self: center    ;
  }

  footer p{
    align-self: center;
    justify-self: center;
  }

  .info img{
    width: 50%;
    margin: 2%;
  }
  
  .info{
    display: flex;
    flex-direction: row;
  }

  .info article {
    color: #FB8500;
    margin-top: 2%;
  }

  .info article p {
    margin-top: 4%;
    width: 60%;
  }


  article p + h2 {
    margin-top: 5%;
    
  }
